<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap/css/bootstrap.css")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")
</head>
<body>
        @RenderBody()
</body>
</html>
